.tabbed-slidebox .slider {
    height: 100%;
}
.tabbed-slidebox.btm .slider {
    margin-bottom: -50px;
}

.tabbed-slidebox .slider-slides {
    width: 100%;
}

.tabbed-slidebox .slider-slide {
    padding-top: 0px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-weight: 300;
   
}
.tabbed-slidebox .slider{
    margin-top: 15px !important;
}
.tabbed-slidebox .tsb-icons {
    text-align: center;
    
    position: relative;
	background-color:#fff;
}

.tabbed-slidebox .tsb-ic-wrp {
    display: flex;
    position: relative;
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
	-webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tsb-icons a {
   
}

.tabbed-slidebox .tsb-icons a.active {
   
}

.tabbed-slidebox .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}


.tsb-hscroll.scroll-view{
  	white-space: nowrap;
	
}
.tsb-hscroll.scroll-view .scroll-bar{
	visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
	text-decoration: none;
	
	
}
.tabbed-slidebox .tsb-icons .scroll a.active {
	
	
}