<ion-view>
    <ion-nav-title class="nav-title-color">绑定银行卡用户协议</ion-nav-title>
    <ion-content class="card-agreement">
        <div class="padding">
            <p>洗洋洋-银行卡快捷签约协议（以下简称“本协议”）是洗洋洋（以下简称“洗洋洋”）与洗洋洋用户(以下简称“您”)就“银行卡快捷签约服务”（以下简称“本服务”）的使用等相关事项所订立的有效合约。</p>
            <p>您通过网络页面点击确认或以其他方式选择接受本协议，即表示您与洗洋洋已达成协议并同意接受本协议的全部约定内容。在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您不同意本协议的任意内容，请不要进行后续操作。
            </p>
            <p>“快捷签约服务”指通过本服务，您同意将银行卡与您登录的洗洋洋账户进行绑定，以便您此次及今后可以通过洗洋洋及\或第三方传输您的支付指令从您的银行卡账户中扣除有关款项给收款方。</p>
            <p> 您应确保您在开通和使用本服务时绑定的银行卡为您本人所有，并确保您将您的洗洋洋账户与该银行卡绑定且用其支付的行为合法、有效，未侵犯任何第三方合法权益；否则因此造成洗洋洋及其关联公司、持卡人损失的，您应负责赔偿并承担全部法律责任，洗洋洋有权采取合理措施减轻该损失，包括但不限于冻结您的洗洋洋账户及资金、从您的洗洋洋账户扣除相应的款项等。</p>
            <p>
            您同意洗洋洋收集您在使用本服务过程中所填写的包括但不限于姓名、银行卡卡号、手机号码、证件号码、证件类型、有效期等信息并有权自己或者委托第三方将上述信息发送至您的发卡银行进行验证，验证通过后，洗洋洋就可以为您开通本服务。同时，发卡行与洗洋洋保留随时变更上述确认要素作为校验标准的权利。
            </p>
            <p>
            您应妥善保管银行卡和洗洋洋账号信息，包括但不限于银行卡卡号、密码、有效期，洗洋洋账号、密码、密保信息、手机校验码等信息。如您遗失银行卡、泄露洗洋洋账户密码或相关信息的，您应及时通知发卡行及/或洗洋洋，以减少可能发生的损失。因泄露上述银行卡信息、洗洋洋账号信息、丢失银行卡等所致损失需由您自行承担。
            </p>
            <p>
            您同意，本协议适用中华人民共和国大陆地区法律。因洗洋洋与您就本协议的签订、履行或解释发生争议，双方应努力友好协商解决。如协商不成，洗洋洋和您同意由西安市雁塔区人民法院管辖审理双方的纠纷或争议。
            </p>
            <P>本协议内容包括协议正文及所有洗洋洋已经发布的或将来可能发布的洗洋洋服务的使用规则。所有规则为本协议不可分割的一部分，与协议正文具有相同法律效力。若您在本协议内容发生修订后，继续使用本服务的，则视为您同意最新修订的协议内容；否则您须立即停止使用本服务。</P>
            <p>本协议未尽事宜，您需遵守洗洋洋APP上公布的《洗洋洋用户服务协议》及相关规则。 </p>
        </div>
    </ion-content>
</ion-view>